<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>
<plugin>
<extension id="product" point="org.eclipse.core.runtime.products">
	<product name="Sample" application="org.eclipse.fx.ui.workbench.fx.application" >
		<property name="appName" value="Sample MVN" />

		<property name="applicationXMI" value="sample.mvn.app/Application.e4xmi" />

		<property name="cssTheme" value="theme.default" />

	</product>

</extension>
</plugin>
