<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="org.eclipse.fx.ide.mvnosgi.launching.OSGILauncher">
<stringAttribute key="org.eclipse.jdt.launching.PROJECT_ATTR" value="sample.mvn.app"/>
<stringAttribute key="org.eclipse.jdt.launching.SOURCE_PATH_PROVIDER" value="org.eclipse.fx.ide.mvnosgi.launching.classpathProvider"/>
</launchConfiguration>
